/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap");

/* Your existing CSS styles */
body {
    font-family: "Outfit", sans-serif !important;
}

img {
    width: 100%;
    display: block;
}

.text-primary {
    color: #44d7b6 !important;
}

.text-secondary {
    color: #3685fb !important;
}

.text-third {
    color: #002248 !important;
}

.text-gray {
    color: #969ba1;
}

.text-yellow {
    color: #f9bf00;
}

.border-primary {
    border: 1px solid #44d7b6 !important;
}

.border-secondary {
    border: 1px solid #3685fb !important;
}

.hover-text-primary:hover {
    color: #44d7b6 !important;
}

.hover-text-secondary:hover {
    color: #3685fb !important;
}

.hover-bg-primary:hover {
    background-color: #44d7b6 !important;
    color: #fff !important;
}

.hover-bg-secondary:hover {
    background-color: #3685fb !important;
    color: #fff !important;
}

.fs-08 {
    font-size: 1rem !important;
}

.fs-1 {
    font-size: 1rem !important;
}

.fs-1-5 {
    font-size: 1.5rem !important;
}

.fs-2 {
    font-size: 2rem !important;
}

.fs-3 {
    font-size: 3rem !important;
}

.fs-4 {
    font-size: 4rem !important;
}

.font-secondary {
    font-family: "Satisfy", cursive;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;   
}

.box-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.tour-tab .nav-item {
    margin: 30px 20px !important;
}

.tour-tab .nav-item .nav-link {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    margin-bottom: 20px;
}

.tour-tab .nav-item .nav-link.active {
    background-color: #25ad90;
    color: #fff;
}


.heading-title {
    text-align: center;
}

.heading-title h3 {
    font-family: "Satisfy", cursive;
    color: #44d7b6;
    font-size: 25px;
}
